<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Xe-Image Convert</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>39D1649AB822178F2BA77D0A9968CB8F4EDF5D37</string>
				<key>dateExpires</key>
				<string>19/4/2031</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2054</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>39D1649AB822178F2BA77D0A9968CB8F4EDF5D37</string>
						<key>dateExpires</key>
						<string>19/4/2031</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>39D1649AB822178F2BA77D0A9968CB8F4EDF5D37</string>
								<key>dateExpires</key>
								<string>19/4/2031</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>com.apple.application-identifier</key>
								<string>org.sparkle-project.Sparkle.Autoupdate</string>
							</dict>
							<key>name</key>
							<string>Autoupdate</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>RR9SSU85FD</string>
								<key>name</key>
								<string></string>
							</dict>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2054</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>39D1649AB822178F2BA77D0A9968CB8F4EDF5D37</string>
								<key>dateExpires</key>
								<string>19/4/2031</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Updater.app</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>RR9SSU85FD</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.9.1</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2054</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>39D1649AB822178F2BA77D0A9968CB8F4EDF5D37</string>
								<key>dateExpires</key>
								<string>19/4/2031</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Downloader.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>RR9SSU85FD</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.9.1</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2054</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>39D1649AB822178F2BA77D0A9968CB8F4EDF5D37</string>
								<key>dateExpires</key>
								<string>19/4/2031</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>name</key>
							<string>Installer.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>RR9SSU85FD</string>
								<key>name</key>
								<string></string>
							</dict>
							<key>versionNumber</key>
							<string>2.9.1</string>
						</dict>
					</array>
					<key>name</key>
					<string>Sparkle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RR9SSU85FD</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.9.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.assets.movies.read-write</key>
				<true/>
				<key>com.apple.security.assets.music.read-write</key>
				<true/>
				<key>com.apple.security.assets.pictures.read-write</key>
				<true/>
				<key>com.apple.security.files.downloads.read-write</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Xe-Image Convert.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RR9SSU85FD</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.5b1</string>
		</dict>
	</array>
</dict>
</plist>
